extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/account.css')


block content
    main
        h1 Account page
        p Welcome #{User.fname} #{User.lname}! This is your Account page
    
    