extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/authStyle.css')

block content
    body
        if message
            .message
                h2= message
                script.
                    setTimeout(function(){
                        window.location.href = '/';
                    }, 3000);
        else if errorMessage
            .message
                h2= errorMessage
        else    
        .container#container
            .form-container.sign-up
                form(action="/auth/signup" method="POST")
                    h1 Create Account
                    span Use your email for registration
                    input(type="text" name="fname" placeholder="First Name")
                    input(type="text" name="lname" placeholder="last Name")
                    input(type="email" name="email" placeholder="Email")
                    input(type="password" name="password" placeholder="Password")
                    button Sign Up

            .form-container.sign-in
                form(action="/auth/login" method="POST")
                    h1 Sign In
                    span Use your email password
                    input(type="email" name="email" placeholder="Email")
                    input(type="password" name="psw" placeholder="Password")
                    button Sign In

            .toggle-container
                .toggle
                    .toggle-panel.toggle-left
                        h1 Got a account already?
                        p Use the button below to sign in to your existing account
                        button.hidden#login Sign In
                    .toggle-panel.toggle-right
                        h1 Hello, New here?
                        p Use the button below to sign up for a new account
                        button.hidden#register Sign Up

        script(src="/javascripts/authPage.js")


