extends layout

block styles
  link(rel='stylesheet' href='/stylesheets/indexstyle.css')


block content
  body
    main
      h1 Favoirte Cars
      p You can click on a car to see more information about it

      table
        each userCar in userCars
          tr
            a.car-container(href="/cars/" + userCar.licensePlate)
                img.car-image(src='/static/genericCar.png')
                .car-info
                  p license Plate: #{userCar.licensePlate}

