extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/indexstyle.css')

block content
  h1= title
  p Welcome to #{title}

  form(action="/" method="POST")
    input(type="text" placeholder="ab12345" name="nummerplade" required)
    button(type="submit") Search

  if car
    table
      tr 
        th regNr
        th Nummerplade
      tr 
        td #{car.regNr}