doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    block styles
  body
    header
      nav 
        ul
          li: a(href='/') Home
          
          if isLoggedIn
            i: a(href='/auth/logout') Logout
          else
            li: a(href='/auth') Login

          li: a(href='/user') Account
    block content
