extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/signInUpStyle.css')

block content
    body
        .container#container
            .form-container.sign-up
                form(action="/signUp" method="POST")
                    h1 Create Account
                    span Use your email for registration
                    input(type="text" name="fname" placeholder="First Name")
                    input(type="text" name="lname" placeholder="last Name")
                    input(type="email" name="email" placeholder="Email")
                    input(type="password" name="password" placeholder="Password")
                    button Sign Up

            .form-container.sign-in
                form(action="/signIn" method="POST")
                    h1 Sign In
                    span Use your email & password
                    input(type="email" name="email" placeholder="Email")
                    input(type="password" name="psw" placeholder="Password")
                    a(href="/login/ggdinske") Forget Your Password?
                    button Sign In

            .toggle-container
                .toggle
                    .toggle-panel.toggle-left
                        h1 Got a account already?
                        p Use the button below to sign in to your existing account
                        button.hidden#login Sign In
                    .toggle-panel.toggle-right
                        h1 Hello, New here?
                        p Use the button below to sign up for a new account
                        button.hidden#register Sign Up

        script(src="javascripts/signInUpPage.js")


