.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 10vh;
    width: 50%;
}

.flex-container > a {
    background-color: #0077ff; 
    margin: 10px;
    text-align: center;
    line-height: 75px; /* Consider reducing if button height is less */
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer; /* To indicate it's clickable */
    border: none; 
    color: #ffffff; 
    padding: 5px 20px; /* Adjust as needed */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.flex-container > a:hover {
    background-color: #5892ff; 
    color: white; 
}

/* Responsive Design */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; 
    }

    main {
        padding: 20px 0;
    }
}