@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 70px; /* Adjust to match the header height */
    padding-bottom: 100px; /* Space for footer */
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: flex-start; /* Align items to the start, i.e., top of the viewport */
    justify-content: flex-start; /* Justify content to the start, i.e., top of the viewport */
    flex-direction: column;
    height: 100vh;
}

/* Main Content Specifics for Account Page */
main {
  padding: 20px 0; 
  max-width: 800px; 
  margin: 0 auto; /* Center the main content */
  text-align: center; /* Center-align text for account-specific content */
}

main h1 {
  font-size: 36px; /* Large font  heading */
  margin: 20px 0; 
}

main p {
  font-size: 20px; 
  margin: 10px 0; 
}

/* Header styling */
header {
  width : 100%;
  position: fixed;
  top : 0;
  background-color: #ffffff; /* white background */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /*  shadow for depth */
}

/* Navigation bar styling */
nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333; /*  grey to match the body text */
  font-weight: bold; /* Make it bold*/
}

nav ul li a:hover {
  color: #007bff; /* A blue color on hover */
}

/* Main content styling */
main {
  text-align: center; /* Center main content text */
  padding: 50px 0; /* More padding for aesthetic spacing */
}

/* Footer styling */
footer {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}
